*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 13px;
  background-color: #fff;
}
body,
button,
input,
select,
textarea {
  font-size: 13px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.border {
  border-bottom: 1px solid #000;
}
/* ==========================================================================
Wrapper
========================================================================== */
.ddh_wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 30px 75px;
}
/* ==========================================================================
Main Title
========================================================================== */
.main-title {
  font-size: 35px;
  text-transform: uppercase;
}
/* ==========================================================================
Top
========================================================================== */
.main-content {
  margin-top: 75px;
}
.top-info {
  position: relative;
}
.top-info .date {
  display: inline-block;
}
.top-info .date strong {
  font-size: 12px;
}
.top-info .date span {
  font-size: 13px;
}
.top-info .page {
  display: inline-block;
  margin-left: 50px;
}
.top-info .page strong {
  font-size: 12px;
}
.top-info .page span {
  font-size: 13px;
}
.top-info .logo-mark {
  position: absolute;
  top: 0;
  right: 0;
}
.top-info .logo-mark h1 {
  width: 142px;
  height: 142px;
  background-image: url(images/mark.png);
}
/* ==========================================================================
contact point
========================================================================== */
.contact-point {
  margin-top: 30px;
}
.contact-point .sender-wrap {
  float: left;
  width: 50%;
  font-size: 11px;
}
.contact-point .sender-wrap .sender {
  font-weight: 600;
}
.contact-point .sender-wrap .sender-contact ul li:first-child {
  font-size: 13px;
}
.contact-point .receiver-wrap {
  float: left;
  width: 50%;
  font-size: 11px;
}
.contact-point .receiver-wrap .receiver {
  font-weight: 600;
}
.contact-point .receiver-wrap .receiver-contact ul li:first-child {
  font-size: 13px;
}
.contact-point:after {
  content: "";
  display: block;
  clear: both;
}
/* ==========================================================================
Payment Detail
========================================================================== */
.payment-detail {
  margin-top: 50px;
}
.payment-detail .pd_left {
  float: left;
  width: 50%;
}
.payment-detail .pd_right {
  float: left;
  width: 50%;
}
.payment-detail .pd_right table tr th.account {
  vertical-align: top;
}
.payment-detail table tr th {
  padding-right: 55px;
  font-size: 11px;
  text-align: left;
}
.payment-detail:after {
  content: "";
  display: block;
  clear: both;
}
/* ==========================================================================
Terms and Conditions
========================================================================== */
.terms {
  margin-top: 50px;
}
.terms .terms-wrap {
  margin-top: 7px;
}
.terms table tr th {
  padding-right: 55px;
  padding-bottom: 10px;
  font-size: 11px;
  text-align: left;
}
.terms .terms_left {
  float: left;
  width: 50%;
}
.terms .terms_right {
  float: left;
  width: 50%;
}
.terms .terms_right table tr th {
  vertical-align: top;
}
.terms .terms_right table tr td ul {
  line-height: 1.1;
}
.terms:after {
  content: "";
  display: block;
  clear: both;
}
/* ==========================================================================
Table
========================================================================== */
.invoice-table {
  margin-top: 60px;
}
.invoice-table table {
  width: 100%;
  border-collapse: collapse;
}
.invoice-table table thead {
  position: relative;
  border-bottom: 1px solid #000;
}
.invoice-table table thead tr th {
  padding: 7px 0;
  text-align: left;
  font-size: 11px;
}
.invoice-table table thead tr th.description {
  width: 320px;
}
.invoice-table table thead tr th.price {
  width: 140px;
}
.invoice-table table tbody tr td {
  padding: 7px 0;
}
.invoice-table table tfoot tr td {
  padding: 5px 0;
  border-top: 2px solid #000;
}
.invoice-table table tfoot tr td:first-child {
  border-top: none;
}
.invoice-table table tfoot tr:last-child td {
  border-bottom: 2px solid #000;
}
.invoice-table table tfoot tr:last-child td:first-child {
  border-bottom: none;
}
.invoice-table table tfoot:before {
  content: "";
  display: block;
  height: 12px;
  width: 100%;
}
.signature-wrap {
  position: relative;
  height: 30px;
  margin-top: 250px;
}
.signature-wrap .signature {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}
.signature-wrap .signature .sign {
  padding-bottom: 9px;
  text-align: right;
  font-size: 11px;
  color: #a3a3a3;
}
.signature-wrap .signature .signer-wrap {
  border-top: 1px solid #000;
  padding-top: 5px;
}
.signature-wrap .signature .signer-wrap .name {
  margin-left: 24px;
  font-size: 11px;
  color: #a3a3a3;
}
.signature-wrap_v2 {
  margin-top: 250px;
}
.signature-wrap_v2 .sign {
  margin-bottom: 3px;
  padding-bottom: 7px;
  text-align: center;
  font-size: 11px;
  color: #a3a3a3;
  border-bottom: 1px solid #000;
}
.signature-wrap_v2 .signer-wrap {
  position: relative;
}
.signature-wrap_v2 .signer-wrap .name {
  position: absolute;
  top: 0;
  left: 60px;
  margin-left: 72px;
  font-size: 11px;
  color: #a3a3a3;
}
.signature-wrap_v2 .signature_sender {
  float: left;
  width: 370px;
}
.signature-wrap_v2 .signature_receiver {
  float: left;
  width: 370px;
  margin-left: 10px;
}
.invoice-note-wrap {
  margin-top: 36px;
}
.invoice-note-wrap table {
  width: 100%;
  border-collapse: collapse;
}
.invoice-note-wrap table tr td {
  border-bottom: 1px solid #bfbfbf;
  vertical-align: top;
}
.invoice-note-wrap table tr td strong {
  display: block;
  font-size: 11px;
}
.invoice-note-wrap table tr td .contents {
  padding-left: 5px;
}
.invoice-note-wrap table tr td.distance {
  width: 10px;
  border-bottom: 1px solid transparent;
}
.invoice-note-wrap table tr th {
  text-align: left;
}
.invoice-note-wrap table tr th strong {
  display: block;
}
.invoice-note-wrap .invoice-note_top {
  border-top: 2px solid #000;
}
.invoice-note-wrap .invoice-note_top table tr td {
  padding: 10px 0 15px;
}
.invoice-note-wrap .invoice-note_top .invoice-note_left {
  float: left;
  width: 50%;
}
.invoice-note-wrap .invoice-note_top .invoice-note_left table tr:nth-child(4) td,
.invoice-note-wrap .invoice-note_top .invoice-note_left table tr:nth-child(6) td {
  width: 50%;
}
.invoice-note-wrap .invoice-note_top .invoice-note_right {
  float: left;
  width: 50%;
}
.invoice-note-wrap .invoice-note_top .invoice-note_right table tr td ul li {
  list-style: lower-alpha;
  list-style-position: inside;
}
.invoice-note-wrap .invoice-note_top .invoice-note_right table tr .contents_remarks ul li {
  padding-bottom: 15px;
}
.invoice-note-wrap .invoice-note_top:after {
  content: "";
  display: block;
  clear: both;
}
.invoice-note-wrap .invoice-note_bottom {
  padding-top: 8px;
  border-top: 2px solid #000;
}
.invoice-note-wrap .invoice-note_bottom table tr th {
  font-size: 11px;
}
.invoice-note-wrap .invoice-note_bottom table tr th.unit {
  width: 11%;
}
.invoice-note-wrap .invoice-note_bottom table tr th.number {
  width: 11%;
}
.invoice-note-wrap .invoice-note_bottom table tr td {
  padding: 7px 0;
  border-bottom: none;
}
.invoice-note-wrap .invoice-note_bottom table tr td:first-child {
  padding-left: 5px;
}
.invoice-note-wrap .invoice-note_bottom tfoot tr td {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.invoice-note-wrap .invoice-note_bottom tfoot tr td:first-child {
  border-top: none;
  border-bottom: none;
}
.invoice-note-wrap .invoice-note_bottom tfoot:before {
  content: "";
  display: block;
  height: 12px;
  width: 100%;
}
/* ==========================================================================
Bottom
========================================================================== */
.bottom-info {
  margin-top: 100px;
  font-size: 0;
}
.bottom-info .sk-logo {
  display: inline-block;
  width: 96px;
  height: 31px;
  background-image: url(images/sk-logo.png);
  background-repeat: no-repeat;
}
.bottom-info .sid-logo {
  display: inline-block;
  margin-left: 50px;
  width: 79px;
  height: 21px;
  background-image: url(images/sid-logo.png);
}
.bottom-info .company-address {
  display: inline-block;
  margin-left: 70px;
  font-size: 9px;
}
.bottom-info .company-address span {
  display: block;
}
.bottom-info .contact-info {
  display: inline-block;
  margin-left: 70px;
}
.bottom-info .contact-info ul li {
  font-size: 9px;
}
.bottom-info .contact-info ul li em {
  display: inline-block;
  width: 35px;
}
